{% extends "layout.html" %}
{% block title %}Delete Passenger{% endblock %}

{% block content %}
    <h1>Delete Passenger</h1>

    {% include "passengers.html" with context %}

    <h2>Please confirm you want to delete this passenger from flight {{ flight.number }}:</h2>
    <form method="post">
        <div class="button-bar">
            <button type="button" class="btn btn-light">
                <a href="{{ url_for('list_passengers', flight_id=flight.id ) }}">Cancel</a>
            </button>
            <button type="submit" value="delete" class="btn btn-primary">Confirm</button>
        </div>
    </form>
{% endblock %}
