{% extends "layout.html" %}
{% block title %}Airports{% endblock %}

{% block content %}
    <h1>Airlines</h1>
    {% if airlines | length > 0 %}
        <table class="striped">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                {% for airline in airlines %}
                    <tr>
                        <td>{{ airline.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>There are no airlines in the database</span>
    {% endif %}
    <div class="button-bar">
        <button type="button" class="btn btn-primary">
            <a href="{{ url_for('add_airline') }}">Add Airline</a>
        </button>
    </div>
{% endblock %}
