{% extends "layout.html" %}
{% block title %}Select Aircraft Layout - {{ flight_number }}{% endblock %}

{% block content %}
    {% if layouts | length > 0 %}
        <h1>Select Aircraft Layout - {{ flight_number }}</h1>
        {% include "error.html" with context %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Aircraft Model</th>
                    <th>Layout Name</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for layout in layouts %}
                    <tr class={{ "row-even" if loop.index %2 == 0 else "row-odd" }}>
                        <td>{{ layout.airline.name }}</td>
                        <td>{{ layout.aircraft }}</td>
                        <td>
                            {% if layout.name %}
                                {{ layout.name }}
                            {% endif %}
                        </td>
                        <td>
                            <input id="{{ layout.id }}" type="checkbox" class="layout-selector"/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="post">
            <input id="layout_id" name="layout_id" type="hidden"
                   value="{% if current_layout_id %}{{ current_layout_id }}{% endif %}"/>
            <div class="button-bar">
                <button type="button" class="btn btn-light">
                    <a href="/">Cancel</a>
                </button>
                <button type="submit" value="select" class="btn btn-primary">Use Selected Layout</button>
            </div>
        </form>
    {% else %}
        <span>No aircraft layouts found</span>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // When the page first loads, make sure the current layout is selected
            $(".layout-selector").each(function() {
                if ($(this).prop("id") == {{ current_layout_id }}) {
                    $(this).prop("checked", true);
                }
            })

            // When a layout is selected, unselect the other ones
            $(".layout-selector").change(function() {
                var id = this.id;
                $("#layout_id").val(id);
                $(".layout-selector").each(function() {
                    var is_selected = $(this).prop("id") == id;
                    $(this).prop("checked", is_selected);
                })
            });
        })
    </script>
{% endblock %}

