{% extends "layout.html" %}
{% block title %}Add Airport{% endblock %}

{% block content %}
    <h1>Add Airport</h1>
    {% include "error.html" with context %}
    <form method="post">
        <div class="form-group">
            <label>Code</label>
            <input class="form-control" name="code" placeholder="Airport code e.g. LGW" required>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" placeholder="Airport name e.g. London Gatwick" required>
        </div>
        <div class="form-group">
            <label>Timezone</label>
            <select name="timezone" class="form-control" required>
                <option value="">Please select ...</option>
                {% for timezone in timezones %}
                    <option value="{{ timezone }}">{{ timezone }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="button-bar">
            <button type="button" class="btn btn-light">
                <a href="{{ url_for('airports.list_all') }}">Cancel</a>
            </button>
            <button type="submit" value="create" class="btn btn-primary">Add Airport</button>
        </div>
    </form>
{% endblock %}
