{% extends "layout.html" %}
{% block title %}Aircraft Layouts{% endblock %}

{% block content %}
    <h1>Aircraft Layouts</h1>
    {% if layouts | length > 0 %}
        {% include "layouts/layouts.html" with context %}
    {% else %}
        <span>There are no layouts in the database</span>
    {% endif %}
    <div class="button-bar">
        <button type="button" class="btn btn-primary">
            <a href="{{ url_for('layouts.add') }}">Add Layout</a>
        </button>
    </div>
{% endblock %}
